In [1]:
import pandas as pd
import numpy as np

In [2]:
path=r'C:\Users\User\Documents\Kaggle\Cricket Predictions\final_model_data_V3.csv'
Data=pd.read_csv(path, index_col=0).drop('Unnamed: 0.1',axis=1)

In [3]:
Data.T

,0,1,2,3,4,5,6,7,8,9,...,737,738,739,740,741,742,743,744,745,746
ID,60,61,62,63,64,65,66,67,68,69,...,11339,11341,11342,11343,11345,11346,11347,11412,11413,11414
SEASON,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
CITY,Bangalore,Chandigarh,Delhi,Mumbai,Kolkata,Jaipur,Hyderabad,Chennai,Hyderabad,Chandigarh,...,Hyderabad,Chennai,Mumbai,Mohali,Bengaluru,Mohali,Mumbai,Chennai,Visakhapatnam,Visakhapatnam
CITY_Corrrected,RCB,KXIP,DD,MI,KKR,RR,SRH,CSK,SRH,KXIP,...,SRH,CSK,MI,KXIP,RCB,KXIP,MI,CSK,Visakhapatnam,Visakhapatnam
TEAM1,KKR,CSK,DD,RCB,KKR,RR,DD,CSK,RR,KXIP,...,SRH,CSK,MI,KXIP,SRH,CSK,KKR,CSK,SRH,DD
TEAM1_MODEL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
TEAM2,RCB,KXIP,RR,MI,SRH,KXIP,SRH,MI,SRH,MI,...,KXIP,DD,SRH,KKR,RCB,KXIP,MI,MI,DD,CSK
TEAM2_MODEL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TEAM1_STRENGTH,224.529,260.998,305.111,281.718,224.529,251.394,305.111,260.998,251.394,233.565,...,384.867,322.765,352.764,342.143,384.867,322.765,406.857,322.765,384.867,299.569
TEAM1_CUMU_STRENGTH,224.529,260.998,305.111,281.718,224.529,251.394,305.111,260.998,251.394,233.565,...,312.966,307.838,315.821,279.395,312.966,307.838,286.292,307.838,312.966,256.139
TEAM2_STRENGTH,281.718,233.565,251.394,336.799,251.855,233.565,251.855,336.799,251.855,336.799,...,342.143,299.569,384.867,406.857,286.371,342.143,352.764,352.764,299.569,322.765
TEAM2_CUMU_STRENGTH,281.718,233.565,251.394,336.799,251.855,233.565,251.855,336.799,251.855,336.799,...,279.395,256.139,312.966,286.292,267.879,279.395,315.821,315.821,256.139,307.838
TOSS_WINNER,RCB,CSK,RR,MI,SRH,KXIP,SRH,MI,RR,MI,...,KXIP,DD,MI,KKR,RCB,KXIP,MI,CSK,DD,CSK
TOSS_DECISION,field,bat,bat,bat,bat,bat,bat,field,field,field,...,field,field,bat,field,field,field,field,bat,field,field
RESULT,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,...,normal,normal,tie,normal,normal,normal,normal,normal,normal,normal
WINNER,KKR,CSK,DD,RCB,KKR,RR,DD,CSK,RR,KXIP,...,SRH,CSK,MI,KKR,RCB,KXIP,MI,MI,DD,CSK
WIN_BY_RUNS,140,33,0,0,0,0,0,6,0,66,...,45,80,0,0,0,0,0,0,0,0
TOSS_WINNER_MODEL,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
WINNER_MODEL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,0,0,0,0
TOSS_DECISION_MODEL,0,1,1,1,1,1,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
CITY_MODEL,0,0,1,0,1,1,0,1,0,1,...,1,1,1,1,0,0,0,1,2,2
WIN_RATE_TEAM1,0,0,0,0,1,0,1,1,0.5,0,...,0.480447,0.620253,0.57377,0.468208,0.480663,0.622642,0.519774,0.61875,0.478022,0.436047
WIN_RATE_TEAM2,0,0,0,0,0,0,0,0,0,0,...,0.47093,0.435294,0.483333,0.517045,0.465517,0.465517,0.576087,0.578378,0.432749,0.614907

# Plotting graph

In [4]:
#df = Data[['TEAM1','TEAM2','WINNER']]
#df['TEAM1'].unique()

In [5]:
#df['Selector'] = ''
#df['Selector'][df['TEAM1']>df['TEAM2']] = df['TEAM1'][df['TEAM1']>df['TEAM2']]+df['TEAM2'][df['TEAM1']>df['TEAM2']]
#df['Selector'][df['TEAM1']<df['TEAM2']] = df['TEAM2'][df['TEAM1']<df['TEAM2']]+df['TEAM1'][df['TEAM1']<df['TEAM2']]

In [6]:
#df2 = pd.DataFrame(df.groupby('Selector').apply(lambda a: a['WINNER'].value_counts()),index=None)
#df3=df2.reset_index()
#df3

In [7]:
#import matplotlib as plt
#import seaborn as sns

In [8]:
#def match_plot(dfp):
#    for a in dfp['Selector'].unique():
#        b=dfp[dfp['Selector'] == a]
#        if len(b) == 2:
#            #plt.figure(figsize=(10,8))
#            sns.barplot(x=b['level_1'],y=b['WINNER'])
#        else:
#            team2_name = a.replace(b['level_1'].iloc[0],'')
#            #plt.figure(figsize=(10,8))
#            sns.barplot(x=[b['level_1'].iloc[0], team2_name],y=[b['WINNER'].iloc[0],0])

In [9]:
#b=df3[df3['Selector'] == 'SRHRR']
#if len(b) == 2:
#    #plt.figure(figsize=(10,8))
#    sns.barplot(x=b['level_1'],y=b['WINNER'])
#match_plot(df3)

# DataFrame Processing

In [10]:
Data.tail()

,ID,SEASON,CITY,CITY_Corrrected,TEAM1,TEAM1_MODEL,TEAM2,TEAM2_MODEL,TEAM1_STRENGTH,TEAM1_CUMU_STRENGTH,...,TOSS_DECISION,RESULT,WINNER,WIN_BY_RUNS,TOSS_WINNER_MODEL,WINNER_MODEL,TOSS_DECISION_MODEL,CITY_MODEL,WIN_RATE_TEAM1,WIN_RATE_TEAM2
742,11346,2019,Mohali,KXIP,CSK,1,KXIP,0,322.764706,307.838265,...,field,normal,KXIP,0,0,0,0,0,0.622642,0.465517
743,11347,2019,Mumbai,MI,KKR,1,MI,0,406.857143,286.291744,...,field,normal,MI,0,0,0,0,0,0.519774,0.576087
744,11412,2019,Chennai,CSK,CSK,1,MI,0,322.764706,307.838265,...,bat,normal,MI,0,1,0,1,1,0.618750,0.578378
745,11413,2019,Visakhapatnam,Visakhapatnam,SRH,1,DD,0,384.866667,312.965524,...,field,normal,DD,0,0,0,0,2,0.478022,0.432749
746,11414,2019,Visakhapatnam,Visakhapatnam,DD,1,CSK,0,299.568750,256.139205,...,field,normal,CSK,0,0,0,0,2,0.436047,0.614907

In [11]:
path2 = r'C:\Users\User\Documents\Kaggle\Cricket Predictions\Final_Features.csv'
Feature = pd.read_csv(path2)
Feature.head()

,Team,Year,Runs per Over,Runs per Wicket,Batting Index,Runs conceded per Over,Runs conceded per Wicket,Bowling Index,Batting Wicket Rate,Bowling Wicket Rate,...,Runs per Wicket_2 Batsmen,Runs per ball_6 Batsmen,Runs per ball_4 Batsmen,Runs per ball_2 Batsmen,Runs concede per Wicket_5 Bowler,Runs concede per Wicket_3 Bowler,Runs concede per Over_5 Bowler,Runs concede per Over_3 Bowler,Balls bowled per Wicket_5 Bowler,Balls bowled per Wicket_3 Bowler
0,CSK,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CSK,2009,7.874584,29.936709,235.739122,8.197922,30.108434,246.826602,0.043840,0.045380,...,39.761905,1.326546,1.293897,1.380165,27.671875,25.066667,7.959551,8.000000,125.156250,112.800000
2,CSK,2010,7.550725,25.728395,194.268026,7.389831,23.357143,172.605327,0.048913,0.052731,...,40.240000,1.324773,1.343085,1.431010,21.433333,20.150000,7.059469,6.773109,109.300000,107.100000
3,CSK,2011,7.781450,27.965517,217.612271,7.724247,27.382022,211.505511,0.046375,0.047015,...,40.750000,1.393939,1.386655,1.490854,24.981818,20.815789,7.400359,6.760684,121.527273,110.842105
4,CSK,2012,7.783869,33.256757,258.866247,7.475138,27.168675,203.089596,0.039009,0.045856,...,35.769231,1.304930,1.265277,1.258457,24.857143,21.134615,7.224913,7.090323,123.857143,107.307692

In [12]:
Data['Runs per Wicket_6 Batsmen_T1'] = np.nan
Data['Runs per Wicket_4 Batsmen_T1'] = np.nan
Data['Runs per Wicket_2 Batsmen_T1'] = np.nan
Data['Runs per ball_6 Batsmen_T1'] = np.nan
Data['Runs per ball_4 Batsmen_T1'] = np.nan
Data['Runs per ball_2 Batsmen_T1'] = np.nan
Data['Runs concede per Wicket_5 Bowler_T1'] = np.nan
Data['Runs concede per Wicket_3 Bowler_T1'] = np.nan
Data['Runs concede per Over_5 Bowler_T1'] = np.nan
Data['Runs concede per Over_3 Bowler_T1'] = np.nan
Data['Balls bowled per Wicket_5 Bowler_T1'] = np.nan
Data['Balls bowled per Wicket_3 Bowler_T1'] = np.nan

Data['Runs per Wicket_6 Batsmen_T2'] = np.nan
Data['Runs per Wicket_4 Batsmen_T2'] = np.nan
Data['Runs per Wicket_2 Batsmen_T2'] = np.nan
Data['Runs per ball_6 Batsmen_T2'] = np.nan
Data['Runs per ball_4 Batsmen_T2'] = np.nan
Data['Runs per ball_2 Batsmen_T2'] = np.nan
Data['Runs concede per Wicket_5 Bowler_T2'] = np.nan
Data['Runs concede per Wicket_3 Bowler_T2'] = np.nan
Data['Runs concede per Over_5 Bowler_T2'] = np.nan
Data['Runs concede per Over_3 Bowler_T2'] = np.nan
Data['Balls bowled per Wicket_5 Bowler_T2'] = np.nan
Data['Balls bowled per Wicket_3 Bowler_T2'] = np.nan

In [13]:
Data[(Data['TEAM1']=='KKR') & (Data['SEASON']==2019)].loc[:,'Runs per Wicket_6 Batsmen_T1']# = 4

695   NaN
699   NaN
712   NaN
715   NaN
718   NaN
727   NaN
732   NaN
736   NaN
743   NaN
Name: Runs per Wicket_6 Batsmen_T1, dtype: float64

# Importing new Feature data and modelling

In [14]:
path3=r'C:\Users\User\Documents\Kaggle\Cricket Predictions\final_data_with_individual features.csv'
DataM = pd.read_csv(path3, index_col=0).drop('Unnamed: 0.1',axis=1)

In [104]:
X = DataM.dropna().drop(['ID', 'CITY', 'CITY_Corrrected', 'TEAM1',
       'TEAM2', 'TOSS_DECISION', 'RESULT', 'WINNER','TOSS_WINNER'],axis=1)
X.describe()

,SEASON,TEAM1_MODEL,TEAM2_MODEL,TEAM1_RunsperOver,TEAM1_RunsperWicket,TEAM1_BattingIndex,TEAM1_RunsconcededperOver,TEAM1_RunsconcededperWicket,TEAM1_BowlingIndex,TEAM1_BattingWicketRate,...,TEAM1_CUMU_STRENGTH,TEAM2_STRENGTH,TEAM2_CUMU_STRENGTH,WIN_BY_RUNS,TOSS_WINNER_MODEL,WINNER_MODEL,TOSS_DECISION_MODEL,CITY_MODEL,WIN_RATE_TEAM1,WIN_RATE_TEAM2
count,606.000000,606.0,606.0,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,...,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,2013.704620,1.0,0.0,7.587810,25.381297,194.051432,7.877980,28.875641,228.517002,0.050666,...,277.840632,294.987808,275.972284,14.183168,0.435644,0.526403,0.397690,0.945545,0.497990,0.498303
std,3.081302,0.0,0.0,0.531924,4.034548,41.385416,0.476124,4.042448,40.848048,0.005911,...,40.812233,49.268902,39.417759,23.607908,0.496251,0.499715,0.489825,0.768387,0.083958,0.083541
min,2009.000000,1.0,0.0,6.389298,17.118280,109.373784,6.877102,22.717949,156.233655,0.037413,...,183.264583,192.358333,183.264583,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.142857
25%,2011.000000,1.0,0.0,7.232176,22.603960,168.700892,7.516588,26.014085,195.414145,0.046629,...,247.894444,256.942857,247.442708,0.000000,0.000000,0.000000,0.000000,0.000000,0.451139,0.459674
50%,2013.000000,1.0,0.0,7.653521,25.277228,192.830898,7.862464,28.085106,225.947509,0.050828,...,275.588542,290.733333,274.969184,0.000000,0.000000,1.000000,0.000000,1.000000,0.500000,0.500000
75%,2016.000000,1.0,0.0,7.880447,27.545455,219.268111,8.191205,31.386667,259.333759,0.054156,...,310.114484,329.187500,309.825550,21.000000,1.000000,1.000000,1.000000,2.000000,0.563572,0.555556
max,2019.000000,1.0,0.0,9.195931,40.323944,370.816223,8.947253,41.470588,350.140895,0.066044,...,394.199405,418.538462,394.199405,146.000000,1.000000,1.000000,1.000000,2.000000,0.764706,0.812500

# Train Test Splitting

In [105]:
def data_split_by_year(df, split_year):
    index_drop=[]
    for year in range(split_year, 2019+1):
        index_drop = index_drop+df[df['SEASON']==year].index.values.tolist()
        
    X_train = df.drop(index_drop, axis=0).drop(['SEASON', 'WINNER_MODEL'],axis=1)
    y_train = df.drop(index_drop, axis=0)['WINNER_MODEL']      
    
    X_valid = df.loc[index_drop].drop(['SEASON', 'WINNER_MODEL'],axis=1)
    y_valid = df.loc[index_drop, 'WINNER_MODEL']
    
    return X_train,y_train,X_valid,y_valid

In [116]:
%time X_train,y_train,X_valid,y_valid = data_split_by_year(X,2016)

Wall time: 17 ms

# Modelling

In [117]:
from sklearn.ensemble import RandomForestClassifier

In [118]:
def print_score(model,X_t,y_t,X_v,y_v):
    print(model.score(X_t,y_t),model.score(X_v,y_v))

In [119]:
mod = RandomForestClassifier(n_estimators=200)
mod.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [120]:
print_score(mod, X_train, y_train, X_valid, y_valid)

1.0 0.8100558659217877

In [121]:
mod.score(X_train, y_train)

1.0

In [122]:
mod.score(X_valid, y_valid)

0.8100558659217877

In [115]:
X_train.isin(X_valid).sum().sum()

0